@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
} */

.loginback {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

  .texts {
    position: absolute;
    top: calc(48% - 40px);
    text-align: center;
    width: 50%;
    left: 25%;
    font-size: 35px;
    font-weight: bold;
    font-family:  system-ui;
    color: #ffffff;
    z-index: 11;
    transition: all 4s ease;
    opacity: 1;
    visibility: visible;
  }

  .loginback:hover>.texts {
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
  }


.loginback:hover .top:before, .loginback:hover .top:after, .loginback:hover .bottom:before, .loginback:hover .bottom:after, .loginback:active .top:before, .loginback:active .top:after, .loginback:active .bottom:before, .loginback:active .bottom:after {
  margin-left: 200px;
  transform-origin: -200px 50%;
  transition-delay: 0s;
}
.loginback:hover .center, .loginback:active .center {
  opacity: 1;
  transition-delay: 0.2s;
}

.top:before, .top:after, .bottom:before, .bottom:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.top:before {
  transform: rotate(45deg);
  background: #e46569;
}
.top:after {
  transform: rotate(135deg);
  background: #ecaf81;
}

.bottom:before {
  transform: rotate(-45deg);
  background: #60b8d4;
}
.bottom:after {
  transform: rotate(-135deg);
  background: #3745b5;
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}

.submit-btn {
    background: linear-gradient(45deg, #CFCFCF, #7fceee);
  color: rgba(3, 3, 3, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 10px 45px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
 .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.login-reg-wrap h2 {
    font-size: 14px;
    font-weight: 700;
    color: #015386;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}